@tailwind base;
@tailwind components;
@tailwind utilities;

.displayText {
  text-orientation: upright;
  writing-mode: vertical-rl;
}
@media only screen and (min-width: 1024px) {
  .linkAnimate {
    position: relative;
    width: max-content;
  }
  .linkAnimate:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 1px;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
  }
  .linkAnimate:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
